port module {mainModule} exposing (..)

import Json.Decode
import Platform exposing (program)
import {userModule} exposing ({output})


type alias Args =
    List String


port sendOutput : String -> Cmd msg


init : Args -> ( (), Cmd msg )
init args =
    ( (), sendOutput (output args) )


main : Program Args () msg
main =
    Platform.programWithFlags
        { init = init
        , update = \_ model -> ( model, Cmd.none )
        , subscriptions = \_ -> Sub.none
        }
