port module {mainModule} exposing (..)

import Json.Decode
import Platform exposing (program)
import {userModule} exposing ({output})


port sendOutput : String -> Cmd msg


init : ( (), Cmd msg )
init =
    ( (), sendOutput {output} )


main : Program Never () msg
main =
    Platform.program
        { init = init
        , update = \_ model -> ( model, Cmd.none )
        , subscriptions = \_ -> Sub.none
        }
