port module {mainModule} exposing (..)

import Platform exposing (worker)
import {userModule} exposing ({output})


port sendOutput : String -> Cmd msg


init : () -> ( (), Cmd msg )
init flags =
    ( (), sendOutput {output} )

main =
    worker
        { init = init
        , update = \_ model -> ( model, Cmd.none )
        , subscriptions = \_ -> Sub.none
        }

