port module {mainModule} exposing (..)

import Platform exposing (worker)
import {userModule} exposing ({output})


type alias Args =
    List String


port sendOutput : String -> Cmd msg


init : Args -> ( (), Cmd msg )
init args =
    ( (), sendOutput ({output} args) )


main : Program Args () msg
main =
    worker
        { init = init
        , update = \_ model -> ( model, Cmd.none )
        , subscriptions = \_ -> Sub.none
        }
